@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SuisseIntl-Black.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* SuisseIntl - bold */
@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/SuisseIntl-Bold.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* SuisseIntl - semibold */
@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/SuisseIntl-SemiBold.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* SuisseIntl - regular */
@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SuisseIntl-Regular.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* SuisseIntl - light */
@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SuisseIntl-Light.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* SuisseIntl - thin */
@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/SuisseIntl-Thin.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/work-sans-v8-latin-300.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/work-sans-v8-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/work-sans-v8-latin-600.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

body {
  font-family: "SuisseIntl, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
}
